.skils_modal {
  width: 100%;

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #1f1a2d;
  }

  .skils__btns {
    margin-top: 10px;
    width: 100%;
    display: flex;

    button {
      min-width: 35px;
      min-height: 29px;
      padding: 0 10px;
      margin-right: 10px;
      background: #ffffff;
      border: 1px solid #e0e0e0;
      box-sizing: border-box;
      border-radius: 5px;

      span {
        cursor: pointer;
        margin-left: 10px;
        font-size: 16px;
        color: #000;
        transition: 0.5s;

        &:hover {
          color: red;
        }
      }
    }
  }

  .form {
    margin-top: 10px;
    .input_group {
      margin-top: 10px;
      .__input {
        width: 100%;
        height: 54px;
        outline: none;
        padding: 0 20px;
        background: #ffffff;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        border-radius: 10px;

        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #000000;
      }
    }
    .form_btn {
      margin-top: 10px;

      button {
        width: 100%;
        height: 46px;
        outline: none;
        background: #366eff;
        border: none;
        border-radius: 10px;

        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.02em;

        color: #ffffff;
      }
    }
  }
}
